body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(236,175,86,1) 100%);
}
.container{
    display: flex;
    justify-content: space-around;
}
.container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emojiBoxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.emojiBox {
    border: dashed orange;
    border-radius: 10px;
    min-width: 53px;
    min-height:50px;
    max-width: 53px;
    margin: 5px;
}

/* old feature */
.playerEmojiBoxSingle {
    display: flex;
    font-size: 200px;
}
.computerEmojiBoxSingle {
    display: flex;
    font-size: 200px;
}